<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Binary</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styleBinaryPage.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>About Binary</h1>
      <nav>
        <ul class="nav-menu">
          <li>
            <a class="menu-1" href="/" alt="home"
              >XOR cipher</a
            >
          </li>
          <li>
            <a class="menu-2" 
            href="https://victoriaslocum.com" 
            target="_blank" 
            alt="about victoria"
              >about victoria</a
            >
          </li>
          <li>
            <a class="menu-3" 
            href="https://github.com/victoriaslocum752" 
            target="_blank" 
            alt="projects"
              >projects</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <div class="questions"></div>
      <div class="q">
        <h3 class="head">What is binary?</h3>
        <p class="des">Binary is a system that is used by computers to translate data in an
          on/off switch type format. Computers like this base-2 system more than
          other types of systems because it allows them to do calculations by either
          sending a signal or not. <br /><br />
          The digits in binary are called "bits", so each 1 or 0 is a single bit.
          ASCII uses a 7-bit system, but computers generally prefer an 8-bit (also
          called a byte) system.<br /><br /></p>
      </div>
      <div class="q">
        <h3 class="head">What is a substitution cipher?</h3>
        <p class="des"> A substitution cipher is a method of encryption that requires a text and a key. 
          For awhile, like Julius Ceasar days, this was top of
          the line cryptography, but then some people in the Arab speaking part of
          the world figured out how to break it. <br /><br />
          It works by substituting a letter in the plaintext by a letter in a
          keyphrase. There are many types of substitution ciphers, and google has
          info on this. The bad thing is they're all very breakable, but the good
          news is they're fun to code with!<br /><br /></p>
      </div>
      <div class="q">
        <h3 class="head">What is a XOR cipher?</h3>
        <p class="des">A binary substitution cipher is a type of one-to-one
          mapping cipher that involves using a keyphrase to convert a plaintext, but
          in binary. A XOR cipher is a certain variety of this. <br /><br />
          In order to encode or decode, you simply need two of the three of a
          plaintext, keyphrase, and ciphertext in binary. Starting with the first
          bit, if the symbols are matching, put a 0, and if they aren't matching,
          put a 1. So 1001 and 0101 would turn into 1100.The cool thing is that no
          matter which you two start with, its the same method to figure out the
          third!<br /><br />
          More can be found on this on Google!
          <br /><br />
        </p>
      </div>
      <div class="q">
        <h3 class="head">How does this code work?</h3>
        <p class="des">Well if you follow the projects link on the main page, you can get to the
          code itself from my github. Basically it detects whether it has 1 input or
          2 inputs. If it has 1 input, it will run through a conversion function. If
          it has two inputs, it will run through a binary substitution cipher.
          <br /><br />
          As for ASCII 7-bit vs 8-bit, I just removed the first 0 from the 8-bit
          dictionary and voila.<br /><br /></p>
      </div>
      <div class="q">
        <h3 class="head">What are some binary puns?</h3>
        <p class="des">I'm so glad you asked! Here's a couple of my favorites.
          <br /><br />
          There are only 10 types of people in the world. Those that understand
          binary and those that don’t.<br /><br />
          My friend put me on the spot asking for a binary pun I thought of a good
          one, I just needed a bit.<br /><br />
          Coding in binary takes a lot of effort. You have to do it bit by bit.</p>
      </div>
    </div>
  </body>
</html>
