<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>XOR Cipher</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1 class="header">Binary/English conversion or XOR cipher!</h1>
    <div class="container">
      <div class="form">
        <form action="" method="get">
          <label for="ASCtype"> ASCII Type: </label><br />
          <div class="select-style">
            <select class="ASCmenu" for="ASCtype" name="ASCtype" size="2">
              <option name="ASCtype" value="8bit">8-bit</option>
              <option name="ASCtype" value="7bit">7-bit</option>
            </select>
          </div>
          <br />
          <label for="input1"> Input 1: </label><br />
          <input class="input" type="text" name="input1" /><br />
          <label for="input2"> Input 2: </label><br />
          <input class="input" type="text" name="input2" /><br />
          <input class="button" type="submit" value="convert" />
        </form>
      </div>
      <div class="description">
        <p class="title">How it works</p>
        <p class="content">
          If you give one input into the first box, it will detect whether you
          have inputted English or binary and give you the translation from that
          to the other. <br />
          <br />
          If you give two binary or two English inputs, it will use a XOR cipher
          to encript your text and return the encrypted output.<br />
          <br />
          If you give a binary input and a English input, it will decript your
          phrase using a XOR cipher again and return the English output. It's
          case sensitive but only works with letters!
        </p>
      </div>
    </div>
    <p class="binary">Your result is:</p>
    <h3 class="binary">{{ output }}</h3>
    <footer>
      <h1 class="footer">Check out some other stuff!</h1>
      <nav>
        <ul class="nav-menu">
          <li>
            <a
              href="https://cipher.victoriaslocum.com/aboutbinary"
              alt="about binary"
              target="_blank"
              >more on binary</a
            >
          </li>
          <li>
            <a
              href="https://victoriaslocum.com"
              alt="about victoria"
              target="_blank"
              >about victoria</a
            >
          </li>
          <li>
            <a
              href="https://github.com/victoriaslocum752"
              target="_blank"
              alt="other projects"
              >other projects</a
            >
          </li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
