<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binary Substitution Cipher</title>
</head>
<body>
    <h1>Encript a plaintext into binary using a keyphrase!</h1>
    <form action="" method="get">
        <label for="plaintext"> Input your plaintext: </label><br>
        <input type="text" name="plaintext" /><br>
        <label for="keyphrase"> Input your keyphrase: </label><br>
        <input type="text" name="keyphrase" /><br>
        <input type="submit" value="Convert" />
      </form>
      <p>{{ binary }}</p>
</body>
</html>